@font-face {
    font-family: "flynn";
    src: url("./Flynn Bold Italic.otf") format("opentype");
}

html, body {
	max-height: 100%;
}

i {
	font-size: 18px !important;
}

h2 {
	font-size: 36px !important;
	margin-top: 50px;
}

h2:nth-of-type(2) {
	margin-bottom: 150px;
}

.hide {
	display: none;
}

.transparent {
	opacity: 0;
}

.center {
	text-align: center;
}

.row {
	margin: 20px 20px 0 20px;
}

.row:nth-of-type(2) {
	margin-top: 0px;
}

.btn {
	font-size: 32px;
	padding: 15px;
}

.bar {
	border: 2px solid black;
}

.health-bar {
	width: 300px;
	height: 40px;
	margin-top: 20px;
}

.mystery-box {
	width: 20px;
	height: 20px;
}

.upsideDownMap {
	transform: rotate(180deg);
}

#start-game {
	margin-top: 10%;
}

#level {
	position: fixed;
}

#maze {
	margin-top: 75px;
  border-collapse: collapse;
}

#maze td {
  width: 1.78em;
  height: 1.78em;
	text-align: center;
}

#first-col p {
	font-size: 30px;
}

#first-col p:first-of-type {
	margin-top: 50px;
}

#first-col p:nth-of-type(2) {
	margin-top: 20px;
}

#your-hp, #enemy-hp {
	margin-left: 20px;
}

#arrow-keys, #space-bar {
	font-size: 50px;
}

#arrow, #space-bar {
	animation: flashing 0.4s infinite;
}

#battle-instructions h3, #second-col h3 {
	text-decoration: underline;
}

#battle-instructions p {
	font-size: 24px;
	margin: auto;
}

#second-col h3, #second-col > p {
	margin: auto;
	font-size: 28px;
}

#second-col p:first-of-type {
	margin-top: 50px;
}

#player-health-underneath {
	position: relative;
	background-color: white;
	box-sizing: content-box;
}

#player-health-bar {
	position: absolute;
	background-color: blue;
	margin: auto;
	border: none;
}

#enemy-health-underneath {
	position: relative;
	left: 15%;
	background-color: white;
	box-sizing: content-box;
}

#enemy-health-bar {
	position:absolute;
	background-color: red;
	margin: auto;
}

#goblin {
	width: 65%;
	height: auto;
	margin: 20px auto 0;
}

#third-col h1 {
	margin-bottom: 45px;
}

#attack-button, #dodge-button {
	margin-top: 45%;
}

#attack-button {
	animation: flashGrey 0.5s infinite;
}

#attack-bar-blue {
	position: relative;
	width: 50px;
	height: 250px;
	background-color: blue;
}

#attack-bar-underneath {
	position: relative;
	width: 50px;
	height: 250px;
	background-color: white;
}

#attack-bar-yellow {
	position: absolute;
	top: 20px;
	width: 48px;
	height: 75px;
	background-color: yellow;
}

#attack-bar-red {
	position: absolute;
	top: 40px;
	width: 48px;
	height: 20px;
	background-color: red;
}

#attack-bar-white {
	position: absolute;
	top: 0;
	width: 50px;
	height: 5px;
	background-color: white;
	border: none;
	animation: none;
}

#dodge-bar-blue {
	position: relative;
	width: 250px;
	height: 50px;
	background-color: blue;
}

#dodge-bar-green {
	position: absolute;
	left: 110px;
	width: 25px;
	height: 48px;
	background-color: green;
}

#dodge-bar-white {
	position: absolute;
	left: 0;
	width: 5px;
	height: 50px;
	background-color: white;
	border: none;
	animation: none;
}

#arrows-pic {
	height: auto;
	width: 30%;
	margin-top: 35px;
	margin-left: 90px;
}

#title {
	position: fixed;
	margin: auto;
	top: 85%;
	right: 2.5%;
	font-size: 64px;
	font-family: "flynn" ,sans-serif;
}

/*hidden battle messages which are activated by the javascript*/

.hit-power {
	margin-left: 75px;
	width: 300px;
}

.hit-power, #nice-dodge, #you-lost{
	font-size: 30px;
	margin-top: 50px;
}

#try-again {
	font-size: 60px;
	color: red;
	margin-top: 20px;
}

#keep-running {
	font-size: 42px;
	color: red;
}

footer .instructions {
	font-size: 24px;
	margin-top: 20px;
}
