button {
	margin-top: 60px;
}

p {
	margin-top: 50px;
	font-size: 30px;
}

span {
	margin-left: 20px;
	margin-right: 20px;
}

i {
	font-size: 18px !important;
}

h1 {
	margin-bottom: 45px;
}

h2 {
	font-size: 36px !important;
	margin-top: 100px;
}

.row {
	margin: 20px 20px 0 20px;
	/*margin-bottom: 0;*/
}

.row:nth-of-type(2) {
	margin-top: 0px;
}

.btn {
	font-size: 32px;
	padding: 15px;
}

.hide {
	display: none;
}

.disappear {
	opacity: 0;
}

.dodge-hide {
	display: none;
}

.center {
	text-align: center;
}

.bar {
	border: 2px solid black;
}

.health-bar {
	width: 300px;
	height: 40px;
	margin-top: 20px;
}

#arrow-keys, #space-bar {
	font-size: 50px;
}

#arrow, #space-bar {
	animation: flashing 0.4s infinite;
}

@keyframes flashing {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

#maze {
	margin-top: 75px;
  border-collapse: collapse;
}

#maze td {
  width: 25px;
  height: 25px;
	text-align: center;
}

#goblin {
	width: 70%;
	height: auto;
	margin: 0 auto;
}

#player-health-bar {
	background-color: blue;
}

#enemy-health-bar {
	margin-left: 50px;
	background-color: red;
}

@keyframes flashGrey{
	50% {
		background-color: grey;
	}
}

@keyframes flashBlack{
	50% {
		background-color: black;
		color: white;
	}
}

@keyframes flashBlue{
	50% {
		background-color: rgba(0, 0, 255, 0.75);
		color: white;
	}

	100% {
		background-color: inherit;
		color: inherit;
	}
}

@keyframes flashYellow{
	50% {
		background-color: 	rgba(255,255,0,0.5);
	}

	100% {
		background-color: inherit;
	}
}

@keyframes flashRed{
	13% {
		background-color: rgba(255, 0, 0, 0.5);
	}

	25% {
		background-color: inherit;
		font-weight: normal;
	}

	37% {
		background-color: rgba(255, 0, 0, 0.5);
	}

	50% {
		background-color: inherit;
		font-weight: normal;
	}
	63% {
		background-color: rgba(255, 0, 0, 0.5);
	}

	75% {
		background-color: inherit;
		font-weight: normal;
	}

	87% {
		background-color: rgba(255, 0, 0, 0.5);
	}

	100% {
		background-color: inherit;
		font-weight: normal;
	}
}

@keyframes flashGreen{
	13% {
		background-color: green;
		color: white;
	}

	25% {
		background-color: inherit;
		color: inherit;
		font-weight: normal;
	}

	37% {
		background-color: green;
		color: white;
	}

	50% {
		background-color: inherit;
		color: inherit;
		font-weight: normal;
	}
	63% {
		background-color: green;
		color: white;
	}

	75% {
		background-color: inherit;
		color: inherit;
		font-weight: normal;
	}

	87% {
		background-color: green;
		color: white;
	}

	100% {
		background-color: inherit;
		color: inherit;
		font-weight: normal;
	}
}

#attack-button {
	animation: flashGrey 0.5s infinite;
}

#attack-bar-blue {
	position: relative;
	width: 50px;
	height: 250px;
	background-color: blue;
}

#attack-bar-yellow {
	position: absolute;
	top: 20px;
	width: 48px;
	height: 75px;
	background-color: yellow;
}

#attack-bar-red {
	position: absolute;
	top: 40px;
	width: 48px;
	height: 20px;
	background-color: red;
}

#attack-bar-white {
	position: absolute;
	top: 0;
	width: 50px;
	height: 5px;
	background-color: white;
	border: none;
	animation: none;
	/*animation: upDown 1s linear infinite;*/
}

@keyframes upDown {
	0% {
		top: 0;
	}

	50% {
		top: 100%;
	}

	100% {
		top: 0;
	}
}

#dodge-bar-blue {
	position: relative;
	width: 250px;
	height: 50px;
	background-color: blue;
}

#dodge-bar-green {
	position: absolute;
	left: 110px;
	width: 25px;
	height: 48px;
	background-color: green;
}

#dodge-bar-white {
	position: absolute;
	left: 0;
	width: 5px;
	height: 50px;
	background-color: white;
	border: none;
	animation: none;
}

@keyframes leftRight {
	0% {
		left: 0;
	}

	50% {
		left: 100%;
	}

	100% {
		left: 0;
	}
}

#arrows-pic {
	height: auto;
	width: 30%;
	margin-top: 35px;
	margin-left: 90px;
}

#instructions h3 {
	text-decoration: underline;
}

#instructions p {
	font-size: 24px;
	margin: auto;
}
