button {
	margin-top: 275px;
}

p {
	margin-top: 50px;
	font-size: 24px;
}

span {
	margin-left: 20px;
	margin-right: 20px;
}

.row {
	margin: 50px;
}

.btn {
	font-size: 32px;
	padding: 15px;
}

.hide {
	display: none;
}

.center {
	text-align: center;
}

#maze {
	margin-top: 75px;
  border-collapse: collapse;
}

#maze td {
  width: 20px;
  height: 20px;
	text-align: center;
}

#goblin {
	width: 100%;
	height: auto;
}
